<aside [className]="iconMenu ? 'w-64' : 'w-24'" aria-label="Sidebar">
  <div
    [className]="
      iconMenu
        ? 'px-5 overflow-y-auto bg-white h-screen border-r-2 border-neutralGrey'
        : 'px2.5 overflow-y-auto bg-white h-screen border-r-2 border-neutralGrey'
    "
  >
    <div class="flex items-center">
      <a href="/overview">
        <img
          *ngIf="iconMenu"
          src="../../../assets/icon/logo.svg"
          class="my-12"
          alt="logo"
        />
      </a>
      <img
        (click)="toggleMenu()"
        [className]="
          iconMenu
            ? 'cursor-pointer lg:hidden'
            : 'cursor-pointer m-auto border-b-2 border-neutralGrey p-5'
        "
        src="../../../assets/icon/burger-icon.svg"
        alt="burger icon"
      />
    </div>
    <ul class="pb-10">
      <li>
        <a href="/overview">
          <img
            [className]="
              iconMenu ? 'cursor-pointer hidden' : 'cursor-pointer py-2.5'
            "
            src="../../../assets/icon/logo-small.svg"
            alt="logo"
          />
        </a>
      </li>
      <li
        [className]="
          iconMenu
            ? 'text-darkGrey font-medium text-xs mb-4 ml-5'
            : 'text-darkGrey font-medium text-xs mb-4 flex justify-center'
        "
      >
        Admin tools
      </li>
      <li *ngFor="let item of dataSidebarUp">
        <a
          href="{{ item.urlPage }}"
          [className]="
            iconMenu
              ? 'flex items-center justify-between h-[56px] text-sm font-semibold rounded-xl px-5 py-2 text-darkGrey bg-white hover:bg-primaryPurple hover:text-white'
              : 'flex items-center justify-center h-[56px] text-sm font-semibold rounded-xl mx-5 text-darkGrey bg-white hover:bg-primaryPurple hover:text-white'
          "
        >
          <div class="flex items-center">
            <img src="{{ item.img }}" alt="{{ item.name }}" />
            <!-- <img src="{{ item.imgLight }}" alt="{{ item.name }}" /> -->
            <span *ngIf="textMenu" class="ml-4">{{ item.name }}</span>
          </div>
          <span
            *ngIf="item.notification && notification"
            class="inline-flex justify-center items-center rounded-full h-6 w-6 text-sm font-semibold text-white bg-primaryorange"
            >{{ item.notification <= 9 ? item.notification : "9+" }}</span
          >
        </a>
      </li>
    </ul>
    <ul class="border-t-2 pt-10 border-neutralGrey">
      <li
        [className]="
          iconMenu
            ? 'text-darkGrey font-medium text-xs mb-4 ml-5'
            : 'text-darkGrey font-medium text-xs mb-4 flex justify-center'
        "
      >
        Admin tools
      </li>
      <li *ngFor="let item of dataSidebarDown">
        <a
          href="{{ item.urlPage }}"
          [className]="
            iconMenu
              ? 'flex items-center justify-between h-[56px] text-sm font-semibold rounded-xl px-5 py-2 text-darkGrey bg-white hover:bg-primaryPurple hover:text-white'
              : 'flex items-center justify-center h-[56px] text-sm font-semibold rounded-xl mx-4 text-darkGrey bg-white hover:bg-primaryPurple hover:text-white'
          "
        >
          <div class="flex items-center">
            <img src="{{ item.img }}" alt="{{ item.name }}" />
            <!-- <img src="{{ item.imgLight }}" alt="{{ item.name }}" /> -->
            <span *ngIf="textMenu" class="ml-4">{{ item.name }}</span>
          </div>
          <span
            *ngIf="item.notification && notification"
            class="inline-flex justify-center items-center rounded-full h-6 w-6 text-sm font-semibold text-white bg-primaryorange"
            >{{ item.notification <= 9 ? item.notification : "9+" }}</span
          >
        </a>
      </li>
    </ul>
  </div>
</aside>
