<aside class="w-64" aria-label="Sidebar">
  <div
    class="overflow-y-auto px-5 bg-white h-screen border-r-2 border-neutralGrey"
  >
    <a href="/overview">
      <img
        src="../../../assets/icon/logo.svg"
        class="my-12"
        alt="Flowbite Logo"
      />
    </a>
    <ul class="pb-10">
      <li class="text-darkGrey font-medium text-xs mb-4 ml-5">Admin tools</li>
      <li *ngFor="let item of dataSidebarUp">
        <a
          href="{{ item.urlPage }}"
          class="flex items-center justify-between h-[56px] text-sm font-semibold rounded-xl px-5 py-2 text-darkGrey bg-white hover:bg-primaryPurple hover:text-white"
        >
          <div class="flex items-center">
            <img src="{{ item.img }}" alt="" />
            <span class="ml-4">{{ item.name }}</span>
          </div>
          <span
            *ngIf="item.notification"
            class="inline-flex justify-center items-center rounded-full h-6 w-6 text-sm font-semibold text-white bg-primaryorange"
            >{{ item.notification <= 9 ? item.notification : "9+" }}</span
          >
        </a>
      </li>
    </ul>
    <ul class="border-t-2 pt-10 border-neutralGrey">
      <li class="text-darkGrey font-medium text-xs mb-4 ml-5">Insights</li>
      <li *ngFor="let item of dataSidebarDown">
        <a
          href="{{ item.urlPage }}"
          class="flex items-center justify-between h-[56px] text-sm font-semibold rounded-xl px-5 py-2 text-darkGrey bg-white hover:bg-primaryPurple hover:text-white"
        >
          <div class="flex items-center">
            <img src="{{ item.img }}" alt="" />
            <span class="ml-4">{{ item.name }}</span>
          </div>
          <span
            *ngIf="item.notification"
            class="inline-flex justify-center items-center rounded-full h-6 w-6 text-sm font-semibold text-white bg-primaryorange"
            >{{ item.notification <= 9 ? item.notification : "9+" }}</span
          >
        </a>
      </li>
    </ul>
  </div>
</aside>
