<aside class="w-64" aria-label="Sidebar">
  <div class="overflow-y-auto px-5 bg-gray-50">
    <ul class="space-y-2">
      <li *ngFor="let item of dataSidebarUp">
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg"
        >
          <img
            class="w-6 h-6 text-gray-500 transition duration-75"
            src="{{ item.img }}"
            alt=""
          />
          <span class="ml-3">{{ item.name }}</span>
        </a>
      </li>
    </ul>
    <ul
      class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700"
    >
      <li *ngFor="let item of dataSidebarDown">
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg transition duration-75 group"
        >
          <img
            class="w-6 h-6 text-gray-500 transition duration-7"
            src="{{ item.img }}"
            alt=""
          />
          <span class="ml-4">{{ item.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
